@import "tailwindcss";

@theme {
  --color-primary: #1B449E;
  --color-secondary: #88d3ce;
  --color-dark: #1a1a2e;
  --color-light: #f8f9fa;
  --color-accent: #ff7e5f;
  --color-amber: #D3C3B0;

  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.05);
  --radius-xl2: 1.25rem;
  --transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html, body { @apply bg-light text-dark antialiased; }

.container { @apply max-w-screen-xl mx-auto px-5; }

.btn { @apply inline-block rounded-full px-6 py-3 font-semibold shadow transition; background: var(--color-accent); color: white; }
.btn:hover { @apply -translate-y-0.5 shadow-lg; }
.btn--ghost { background: white; color: var(--color-dark); }
.btn--ghost:hover { background: white; color: var(--color-dark); }

:root {
  --header-offset: 70px;
}

section[id] {
  scroll-margin-top: var(--header-offset);
}

.hero-bg {
  @apply min-h-[100vh] flex items-center justify-center text-center text-white py-24;
}

.header-logo {
  font-size: 1.8rem;
}

nav ul li a {
  position: relative;
  display: inline-block;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-red-50);
  transition: var(--transition);
}

nav ul li a:hover::after {
  width: 100%;
}

.card-glass { @apply rounded-2xl border border-white/20 bg-white/15 backdrop-blur px-2 py-3  md:p-8 shadow text-white text-center ; }

.modal-backdrop { @apply fixed inset-0 z-50 hidden items-center justify-center bg-black/70; }
.modal-backdrop[data-open="true"] { @apply flex; }

summary { @apply cursor-pointer font-semibold text-lg; }

@keyframes fadeInUp { from { opacity: 0; transform: translateY(8px);} to { opacity: 1; transform: translateY(0);} }
.fade-in-up { animation: fadeInUp .6s ease both; }
